        <div class="inputDiv">
			<a href="https://www.byu.edu"><img class="first" src="maxMugShot.jpg"></a>
			<a href="https://www.byu.edu"><img class="second" src="maxMugShot.jpg"></a>
			<h2>NFL Role Models</h2>
			
			<input placeholder="Search for your son's role model!!" ng-model="nflFilter"></input>
		</div>
		<div class="headerRow">
			<div class="headerColumn">Role Model Name</div>
            <a ui-sref="teams"><div class="headerColumn">Team</div></a>
			<div class="headerColumn">Trips to the Clink</div>
		</div>

		<div ng-repeat="player in players | filter: nflFilter">
			<div class="column"> {{player.Name}} </div>
			<div class="column"> {{player.Team_name}} </div>
			<div class="column"> {{player.arrest_count}} </div>
		</div>